MC_IMAGE_VERSION=latest
MC_BACKUP_IMAGE_TAG=latest
MC_PORT=25565
MINECRAFT_DATA_PATH=./data
MINECRAFT_BACKUP_HOURLY_PATH=./backups/hourly
MINECRAFT_BACKUP_DAILY_PATH=./backups/daily
MC_VERSION=1.21.1
FABRIC_LOADER_VERSION=0.16.10
MC_MEMORY=4G
SERVER_NAME=Minecraft Fabric Server
MOTD=A Minecraft Fabric Server
DIFFICULTY=easy
GAMEMODE=survival
PVP=false
MAX_PLAYERS=20
VIEW_DISTANCE=12
SIMULATION_DISTANCE=10
SPAWN_PROTECTION=0
ALLOW_FLIGHT=false
ENABLE_COMMAND_BLOCK=false
LEVEL_TYPE=minecraft:normal
LEVEL_NAME=world
ONLINE_MODE=true
ENABLE_WHITELIST=false
WHITELIST=
OPS=
ENABLE_RCON=true
RCON_PASSWORD=replace_me
ENABLE_AUTOPAUSE=true
AUTOPAUSE_TIMEOUT_EST=3600
AUTOPAUSE_TIMEOUT_INIT=600
PACKWIZ_URL=https://raw.githubusercontent.com/Michael-XKCD/docker-minecraft-fabric/refs/heads/main/packwiz/pack.toml
TZ=America/Los_Angeles
